/*---------- browser standard resets ----- */

* {
	padding:0;
	margin: 0;
	box-sizing: border-box;
}


/*----------- Global Styles---------------*/

body {
	color:#000000;
	background: #caced1;
	}

#wrapper {
	width: 100%;
	margin:0 auto;
}

.darken-bg {
		background: rgba(13, 35, 33, 0.6);
}

.smll-txt {
	font-size: .75em;
}

.circle-bg {
	background: url("../img/circle-bg.png") no-repeat right center;
	background-size:75%;
}


/*------------- Image styling --------------------- */
img {
	width:100%;
}

.img-rounding {
	border-radius: 10%;
}




/*--- Link Styles ---*/

a {
	color: #950020;
	font-weight:bold;
}

a:hover {
	color: #c50730;
	text-decoration:none;
	}

a:active {
	color: #c50730;
	text-decoration:none;
}

.lightlinks {
	color: #ccc;
}

.lightlinks a {
	color:#ccc;
}

.lightlinks a:hover {
	color:#fc576d;
	text-decoration:none;
}

/*-------- List/P/Float styles ---------*/

p {
	margin-bottom: 20px;
}

.lighttext {
	color:#ccc;
}

ul {
	list-style-type: none;
	margin: 0 0 15px 0;
}

.bulleted {
	list-style-type: circle;
	margin-left:15px;
}


.breakfloat {
	clear:both;
}


/*------------ Heading Styles -----------------*/

h1 {
	font: 3em Lekton;
	font-weight:700;
}

h2 {
	font: 2em/1 Lekton;
	font-weight:700;
	margin-bottom:20px;
}

h3 {
	font: 1.5em/1 Lekton;
	font-weight:700;
}

.center-underline {
	text-align: center;
	padding-bottom:15px;
	border-bottom: 1px solid;
}


/*-------------- Header ----------------------*/

header {
	background:#ccc;
	margin: auto;
	background: url("../img/header-bg.jpg") no-repeat top center;
	background-size: cover;
	text-align:center;
	border-top:35px;
	border-style: solid;
	border-color: rgba(13, 35, 33, 1);
}

h1#homelink  {
	text-decoration:none;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom:0;
}

header a {
	text-decoration: none;
}

.branding {
	width:15%;
}


/*------------------ content styles --------------*/

.restrict-width {
		margin:0 auto;
		width:88%;
		max-width: 1000px;
		padding:50px 0;
	}

	.social-media {
		padding:10px 0;
		height: 50px;
		width:100%;
		text-align:right;
		padding:10px;
		z-index:0;
	}


	.social-links li {
		width:30px;
		height:40px;
		display:inline;
		float:right;
		margin-right: 20px;
	}

	li.socialtag {
		font-weight:bold;
		font-size: 1.3rem;
		width:100px;
		height:35px;
		margin-right:20px;
		padding:10px;
		background: #222;
		color:#ccc;
		border-radius:10px;
		text-align:center;
	}

/*--------------------- Resume/Contact Styles ---------------------*/

#resume {
	background-color:#881630;
	color:#fff;
	padding: 20px 0 20px 0;
	text-align:left;
}

#contact {
	background: url("../img/header-bg-gray.jpg") no-repeat;
	background-size: cover;
=
}



/*--------------------- Portfolio ---------------------*/

#portfolio {
	background: rgba(13, 35, 33, 100);
	padding-top:20px;
	color:#fff;
}

#portfolio img {width:100%;}

.imgplaceholder {
	height:250px;
	flex-grow:1;
	margin:20px;
}

.slideshow a {
	display:block;
	position:absolute;
	bottom:0;
	width:100%;
	color:#fff;
	font-size:1.2em;
	font-weight: bold;
	text-decoration:none;
	text-align:center;
	background: rgba(13, 35, 33, .9);
	padding:15px;
}

.slideshow a:hover {
}

.carousel {
	margin:0;
	padding:0;
	border-radius:20px;
}

.carousel-inner {
		border-radius:20px;
		height:400px;
}


#web {
	background-image: url("../portfolio/cia-website.jpg");
	background-size: cover;
	height:400px;
}

#logo {
	background-image: url("../portfolio/bphoniex-logo.jpg");
	background-size: cover;
	background-position: center;
	height:400px;
}

#print {
	background-image: url("../portfolio/Potters-cover.jpg");
	background-size: cover;
	background-position: center;
	height:400px;
}

/*----------------- Portfolio Gallery -----------------*/

 .gallery li {
	width:25%;
	padding:10px;
	display:inline;
	float:left;
	margin:0 0 20px 0;
	min-width: 120px;
}

.gallery li img {
	border-radius: 10%;
	width:100%;
	height:120px;
}

 .cover {
  object-fit: cover;
	width:50%;
  max-height: 100%;
}



/*---------------- footer ----------------------*/

footer {
	width:100%;
	background:#222;
	color: #999;
	text-align:center;
}


/*----------------- Form Styling --------------------------*/

input, textarea {
	width:100%;
	padding:1%;
	border:1px solid #ccc;
	margin:10px 0 10px 0;
	border-radius: 10px;
	color:#111;
}

button {
	width:30%;
	padding:1%;
	border:1px solid #ccc;
	margin:10px 0 10px 0;
	border-radius: 10px;
	color:#111;
}

/*----------------- Lightbox --------------------------------*/

#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
}

#overlay img {
  margin-top:10%;
	width:70%;
}

#overlay p { color:#fff;}

/*------------- Portfolio Page Styling ------------*/

.subpage .intro {
	text-align:left;
	padding:0 0 10px 30px;
}

.subpage .content {
	background: rgba(13, 35, 33, 1);
	display:inline-block;
	width:100%;
	text-align:center;
	padding-bottom: 80px;}

.subpage footer {
	background: #881630;
}





/*---------------- Mobile Styling ---------------------*/

@media screen and (max-width: 480px) {


header {
	padding-bottom: 15px;
}

	/*----------- Mobile Menu styles -----------*/
	.mobile-nav {
		position: fixed;
		top:0;
		left:0;
		padding:10px;
		width:100%;
		z-index:99;
		background: rgba(13, 35, 33, .9);
	}


	.menu-btn div {
  	position: absolute;
  	left: 100%;
  	top: 0;
  	padding-right: 8px;
  	margin-top: -0.50em;
  	line-height: 1.2;
  	font-size: 18px;
  	font-weight: 200;
  	vertical-align: middle;
  	z-index: 99;
  }

  .menu-btn span {
  	display: block;
  	width: 19px;
  	height: 3px;
  	margin: 4px 0;
  	background:#fff;
  	z-index: 99;
  }

  .responsive-menu{
  	display: none;
  }

	.responsive-menu a {
		display:block;
		padding:3%;
		width:100%;
		text-align:center;
	}

	.responsive-menu a:hover {
		background:#881630;
		color:#fff;
	}

  .expand {
  	display: block !important;
  }

/*----- Extra Mobile Fixes -----------*/

		input, textarea, button {padding:2%;}

		.subpage .content {
			padding-bottom: 20px;
		}
}


/*--------------- Tablets ------------*/

@media screen and (min-width: 480px) and (max-width:760px) {

	header {
		padding:35px 0 25px 0;
	}

	.restrict-width {
		padding:4%;
	}

	.mobile-nav li {
		display:inline-block;
		margin-left:20px;
		font-size: 1.2em;
		padding: 15px 5px 15px 5px;
	}

		.subpage .responsive-menu {
			position: absolute;
			top:0;
			right:0;
			width:100%;
			height: 45px;
			text-align:right;
			background: rgba(13, 35, 33, 1);
			padding-right:30px;
		}

}


/*--------------- Full Size Screens ------------*/

@media screen and (min-width: 760px) {

.intro {
	padding:20px 0 50px 0;
}

	.mobile-nav li {
		display:inline-block;
		margin-left:20px;
		font-size: 1.5em;
		padding: 10px;
	}



/* ------ Portfolio Full Sized Style ---------*/

	.subpage header {
		height:250px;
		padding-top: 20px;
	}

	.subpage .responsive-menu {
		position: absolute;
		top:0;
		right:0;
		width:100%;
		height: 45px;
		text-align:right;
		font-size: 1.3rem;
		background: rgba(13, 35, 33, 1);
		padding-right:50px;
	}



}
